[submodule "submodules/growthbeat-ios"]
	path = submodules/growthbeat-ios
	url = git://github.com/SIROK/growthbeat-ios.git
[submodule "submodules/growthbeat-android"]
	path = submodules/growthbeat-android
	url = git://github.com/SIROK/growthbeat-android.git
